<ion-modal-view>
    <div id="settings" class="list list-inset acknowledgments">
        <h1 class="ion-person-stalker"> Credits <a class="ion-close-round" ng-click="closeModal()"></a></h1>
        <div>
            <h2>Brought to you by:</h2>
            <ul>
                <li>Jessica Meurer / Designer</li>
                <li>Mike Wilson / Lead Strategist</li>
                <li>Doug Niccum / Mobile Developer</li>
                <li>Dustin Walruff / Mobile Developer</li>
                <li>Brian Cody / Mobile Developer</li>
                <li>Jon Smajda / Developer</li>
                <li>Matt Toolin / Videographer</li>
                <li>Nathan Victor / Mobile Developer</li>
            </ul>
        </div>
    </div>
</ion-modal-view>