<ion-modal-view>
    <div id="tutorial" class="modal">
        <div class="earthPlanet">
            <div>
                <h2>Earth Weather</h2>
                <p>Slide down or touch Earth.</p>
            </div>
        </div>
        <div class="moonPlanet">
            <div>
                <h2>Settings</h2>
                <p>Touch Moon</p>
            </div>
        </div>
        <a class="finishTutorial button" ng-click="finishTutorial()">Let's do it</a>
        <div class="marsPlanet">
            <div>
                <h2>Mars Weather</h2>
                <p>Slide up or touch Mars.</p>
            </div>
        </div>
    </div>
</ion-modal-view>