<ion-modal-view>
    <div id="tutorial" class="modal">
        <ion-slide-box>
            <ion-slide>
              <div class="one">
                  <div class="oval"></div>
                  <div class="directions">
                      <h1>Quick Tutorial</h1>
                      <h2>Touch Mars or Earth for full weather data.</h2>
                  </div>
                  <div class="oval bottom"></div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="two">
                  <div class="oval moon"></div>
                  <div class="directions">
                      <h1>Quick Tutorial</h1>
                      <h2>Touch Moon to change settings.</h2>
                  </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="two">
                  <div class="directions">
                      <a ng-click="finishTutorial()" class="button"><span class="next">Use Sol <i class="ion-chevron-right"></i> <i class="ion-chevron-right"></i> <i class="ion-chevron-right"></i></span></a>
                  </div>
              </div>
            </ion-slide>
        </ion-slide-box>
    </div>
</ion-modal-view>